.infoCard {
    display: flex;

}

.dataCard {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px 5px;
    width: 450px;
    height: 200px;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 20px;
}

.dCard>p {
    align-items: center;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-style: solid; 
    border-bottom-width: 1px; 
    padding: 5px;
}

.windCard>p {
    align-items: center;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-style: solid; 
    border-bottom-width: 1px; 
    padding: 5px;
}
.titleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-style: solid; 
    border-bottom-width: 1px; 
    padding: 5px;
}

.titleCard>h2 {
    display: flex;
    margin: 0;
    justify-content: left;
}

.titleCard>p {
    display: flex;
    margin: 0;
    justify-content: left;
}