.cardIcon {
    background-color: #fff;
    display: flex;
}
 
.icon {
    background-color: #fff;
    border-radius: 5px;
}

.icon>img {
    background-color:#fff;
    width: 70%;
}

.icon>h2 {
    margin: 0;
    text-transform: capitalize;
}

.icon>h3 {
   font-family: 'Courier New', Courier, monospace;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text>h1 {
    display: flex;
    justify-content: left;
}
