.cardIcon {
    background-color: #fff;
    display: flex;
}

.icon {
    background-color: #fff;
}

.icon>img {
    background-color:#fff;
    width: 70%;
}

.icon>h2 {
    margin: 0;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text>h1 {
    display: flex;
    justify-content: left;
}
